/*
1 -----
#1919B3
#12127D
#C8C8FF
#9191FF
2 -----
#400099
#2D006B
#DABFFF
#B580FF
3 -----
#0066B3
#00487D
#BFE4FF
#80C9FF
*/

body {
  font-family: Georgia, Sans-serif;
  font-size: 20px;
  margin: 0; padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.presentation ul {
  margin-left: 2.0em;
}
.presentation ul li {
  font-size: 2.0em;
}

.center {
  text-align: center;
}
  

.presentation .slide {
  width: 53.3em;
  height: 30em;
  color: #C8C8FF;
  background-color: #12127D;
}

.presentation .first {
  background-color: #fff;
  color: #12127D;
}

.presentation h1 {
  font-size: 1.8em;
  background-color: #400099;
  color: #fff;
  border-bottom: 0.5em solid #2D006B;
  margin-bottom: 1.0em;
}

.presentation p {
  font-size: 1.5em;
}


.presentation pre {
  margin: 0;
  padding: 0.5em;
  background-color: #00487D;
  border: 0.4em solid #0066B3;
  color: #BFE4FF;
  font-size: 0.9em;
  font-family: "Monaco", "Courier New", fixed;
}
.presentation pre.left {
  width: 45%;
  float: left;
}
.presentation pre.right {
  width: 45%;
  float: right;
}

.slide .notes {
  display: none;
}

.outline {
  width: 600px;
}

.outline .slide {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 2em 0;
}

.outline h1,
.outline h2,
.outline h3,
.outline h4,
.outline h5 {
  font-size: 1.0em;
  text-align: left;
}

.outline .center {
  text-align: left;
}

.outline .notes {
  display: block;
}
